body {
    text-align: justify;
    color: #000000;
    font: 14px/22px "MS Sans Serif", Geneva, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 22px;
    font-family: "MS Sans Serif", Geneva, sans-serif;
    overflow-x: hidden;
}
.image-logo	img{
	    width: 100%;
    max-width: 100%;
}

.static-search-form{
	text-align: center;
}

.site-header {
    padding-top: 40px;
}
.site-header .header-top {
    position: relative;
    z-index: 999;
    padding-bottom: 35px;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.site-header .search-form input[type="text"], .site-header .search-form input[type="search"] {
    width: 471px;
    margin: 0 8px 0 0;
    /* background: #f4f4f5; */
    /* border-color: #e2e3e4 !important; */
}
.site-header input[type="search"], input[type="password"], .site textarea {
    background: #f4f4f5;
    border-color: #e2e3e4 !important;
}
.site input[type="text"], .site input[type="email"], .site input[type="url"], .site input[type="search"], input[type="password"], .site textarea {
    background: #f4f4f5;
    border-color: #e2e3e4 !important;
}
#header .search-form input[type="submit"] {
    background: rgb(255,255,255);
    color: #282e34;
}

.site-header .search-form input[type="submit"] {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
}
.site-header input[type="submit"], .site-header input[type="reset"] {
    background: url(../../images/submit_arrow.png) no-repeat 100% 50%;
    height: 40px;
    margin: 0 15px 0 0;
    padding: 0 16px 0 0;
    border: none;
    outline: none;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    text-transform: uppercase;
}
#header .search-form input[type="submit"]:hover {
    background: #282e34;
    color: rgb(255,255,255);
}

.site-header input[type="text"], .site-header input[type="email"], .site-header input[type="url"], .site-header input[type="search"], .site-header input[type="password"], .site-header textarea {
    min-height: 38px;
    margin: 0;
    padding: 9px 36px 9px 36px;
    border: 1px solid;
    border-radius: 2px;
    outline: none;
    text-transform: none;
    resize: none;
}
 
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="tel"], input[type="email"], input[type="url"] {
    color: #969ca2;
    font: 600 14px/20px "Times New Roman", Times, sans-serif;
}


.site-header .header-bottom {
    position: relative;
    z-index: 998;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.13);
}

 #header #access .menu-items > li {
    border-color: #e5e6e6;
}
 
.site-header #access .menu-items > li:first-child {
    border-left: 1px solid;
}
 
.site-header #maccess .menu-items > li {
    margin: 0;
    padding: 0;
    border-right: 1px solid;
}
#header #access .menu-items > li {
    border-color: #e5e6e6;
}

.navbar-nav>li>a {
    padding: 25px 29px 25px 29px;
        color: #282e34;
    font: 600 15px/15px "Source Sans Pro", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 15px;
    line-height: 15px;
    font-family: "Source Sans Pro", sans-serif;
}
.navbar-nav>li{
     border-right: 1px solid #e5e6e6;

}
.navbar-nav>li:first-child {
    border-left: 1px solid #e5e6e6;
     
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a {
    color: #87b1bd;
    
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #282e34;
    text-decoration: none;
    background-color: #fff;
}
.dropdown-menu{
	width: 208px;
   padding: 24px 20px 24px 30px;
   box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.24);
   border-radius: 0px;
}
 .navbar-header,.navbar-toggle{
 	float: none;
 }
.navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-header{
	text-align: center;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
#navbarCollapse{
	text-align: center;

}
.my_toggle_close, .my_toggle{

    font-weight: bold;
}
.my_toggle_close:before{
    content: "\00d7";
    display: inline-block;
    padding: 0 2px 0 0;
    font-size: 1.1em;
}
.my_toggle:before{
	content: "\f0c9";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1em;
    margin: 0 10px 0 0;
}


@media (max-width: 767px) {
	.static-header-logo {
	text-align: center;
}
	.static-header-menu {
	padding: 15px;
}
	.navbar-nav>li>a {
    padding: 5px 10px;
    background: #87b1bd;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #000;
    border-bottom: 1px solid white;
   
}
.dropdown-menu{
	padding: 0;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a {
    color: #fff;
    background: #87b1bd;
}
}
@media (max-width: 1200px){
	.site-header .search-form input[type="search"] {
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
}
}
 
@media (max-width: 480px){
.site-header .search-form input[type="search"] {
    width: 180px;
}
}

.cherry-banner.style_1 {
    margin-bottom: 22px;
    padding: 6px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.24);
}
.cherry-banner {
    margin: 0;
}
.cherry-banner.style_1 .cherry-banner_wrap {
    position: relative;
}
.cherry-banner_wrap {
    background-size: cover;
    background-position: 50% 50%;
}
.cherry-banner.style_1 .cherry-banner_wrap .banner_img {
    background: #282e34;
}
.cherry-banner.style_1 .cherry-banner_wrap a.cherry-banner_link {
    background: rgba(40,46,52,0.5);
}
.cherry-banner.style_1 .cherry-banner_wrap a.cherry-banner_link {
    display: table-cell;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
}
.cherry-banner.style_1 .cherry-banner_wrap a.cherry-banner_link .inner {
    display: inline-block;
    padding: 0 30px;
    vertical-align: middle;
}
.cherry-banner.style_1 .cherry-banner_wrap h2 {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    line-height: 26px;
    font-size: 19px;
}
.cherry-banner.style_1 .cherry-banner_wrap a.cherry-banner_link .auxiliary {
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
}
.cherry-banner.style_1 .cherry-banner_wrap a.cherry-banner_link:hover {
    background: rgba(40,46,52,0.95);
}

h1, .h1 {
    color: #333333;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 30px;
    line-height: 36px;
    font-family: "Times New Roman", Times, sans-serif;
    margin: 0.67em 0;
}
.home-row{
	    padding-top: 35px;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.cherry-btn.button-140 {
    color: #0c0c0c;
}
.aligncenter .cherry-btn-desc, .cherry-btn-desc.desc-wide {
    text-align: center;
}
.cherry-btn-desc {
    display: block;
    text-align: left;
    font-size: .8em;
}
small, .small {
    color: rgb(210,210,211);
}
a.cherry-btn-primary {
    background: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}
.hr-336 {
    height: 1px;
    margin-top: 18px;
    margin-bottom: 34px;
    background-color: #d9dadb;
}

figure {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.post-title {
    font-weight: bold;
}
.post-title a {
    color: #000;
}
.post-title a:hover {
    color: #dd3333;
}
a.btn-default {
    color: #87b1bd;
}
a.btn-default {
    background: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
a.btn-default:after {
    color: #282e34;
    display: inline-block;
    margin: 0 0 0 7px;
    padding: 0;
    vertical-align: top;
    line-height: 20px;
    font-family: FontAwesome;
    font-size: 20px;
    content: '\f105';
}

a:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
.btn-default:hover {
    color: #282e34;
    background: none;
    border-color: none;
}
.banner_img img{
	
	max-width: 100%;
}
 
h2, .h2 {
    letter-spacing: 0;
    color: #282e34;
    font: 600 24px/26px "Times New Roman", Times, sans-serif;
}
h2 {
    position: relative;
    margin: 0 0 26px 0;
    text-align: center;
}
li.item-current{
	color: #87b1bd;
}
a.bread-link,.item-cat a{
color: white;
}
a.bread-link:hover,.item-cat a:hover{
color: #87b1bd;
}
.footer-top{
        background-color: #282e34;
    background-repeat: repeat;
    background-position: left;
    background-attachment: fixed;
    background-clip: padding-box;
    background-size: cover;
    background-origin: padding-box;
    background-image: none;
}
.site-footer {
    color: #ffffff;
    font: 12px/18px "Source Sans Pro", sans-serif;
}
.site-footer .karma-widget- h1{
    color: white;
}
.site-footer h3 {
    color: rgb(255,255,255);
}
 
.site-footer h3 {
    margin: 0 0 21px 0;
    line-height: 20px;
    font-size: 20px;
    text-align: left;
}
h3, .h3 {
    letter-spacing: 0;
    color: #282e34;
    font: 600 18px/22px "Times New Roman", Times, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: "Times New Roman", Times, sans-serif;
}
.site-footer .static-footer-sidebars ul li a {
    color: #000000;
}
.site-footer {
    color: #ffffff;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 18px;
    font-family: "Source Sans Pro", sans-serif;
}
.site-footer .static-footer-sidebars ul li a:hover {
    color: #ffffff;
}
.site-footer .static-footer-sidebars ul li {
    margin: 11px 0 0 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}
.site-footer .footer-top {
    padding-top: 46px;
    padding-bottom: 35px;
}
.site-content {
    position: relative;
    padding-top: 35px;
    padding-bottom: 49px;
}

@media (min-width: 992px){
    .sidebar-content-wrapper .widget-area, .sidebar-sidebar-content-wrapper .widget-area {
    float: left;
     width: 23%; 
}
.sidebar-content-wrapper #primary, .sidebar-sidebar-content-wrapper #primary {
    float: right;
}
}
.sidebar-main .widget:first-child, .sidebar-secondary .widget:first-child {
    margin-top: 0;
}
.widget {
    margin: 0 0 1.5em;
}
.sidebar-main .widget_categories ul li:before, .sidebar-main .widget_archive ul li:before, .sidebar-main .widget_nav_menu ul li:before, .sidebar-main .widget_meta ul li:before, .sidebar-main .widget_meta ul li:before, .sidebar-main .widget_pages ul li:before, .sidebar-main .widget_recent_comments ul li:before, .sidebar-main .widget_recent_entries ul li:before, .sidebar-secondary .widget_categories ul li:before, .sidebar-secondary .widget_archive ul li:before, .sidebar-secondary .widget_nav_menu ul li:before, .sidebar-secondary .widget_meta ul li:before, .sidebar-secondary .widget_meta ul li:before, .sidebar-secondary .widget_pages ul li:before, .sidebar-secondary .widget_recent_comments ul li:before, .sidebar-secondary .widget_recent_entries ul li:before {
    position: absolute;
    left: 0;
    line-height: 18px;
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    content: '\f105';
}
.hentry {
    margin: 0 0 1.5em;
}
article.post figure, article.post .entry-video {
    margin-bottom: 30px;
}
/*img{
        max-width: 100%;
    height: auto;
}*/
 
@media (min-width: 992px) {
  .site-content.boxed {
    max-width: 1200px;
}  
 }







@media (min-width: 768px){
.site-header.extra-boxed, .site-content.extra-boxed, .site-footer.extra-boxed {
    max-width: 780px;
}
 
}

@media (min-width: 992px){
.site-header.extra-boxed, .site-content.extra-boxed, .site-footer.extra-boxed {
    max-width: 1000px;
}
}

 @media (min-width: 1200px){.site-header.extra-boxed, .site-content.extra-boxed, .site-footer.extra-boxed {
    max-width: 1200px;
} 
}


@media (min-width: 768px){
.site-header.boxed, .site-content.boxed, .site-footer.boxed {
    max-width: 750px;
}

}
@media (min-width: 992px){
.site-header.boxed, .site-content.boxed, .site-footer.boxed {
    max-width: 970px;
}
}

@media (min-width: 1200px){
.site-header.boxed, .site-content.boxed, .site-footer.boxed {
    max-width: 1170px;
}
}


.site-header, .site-content, .site-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.moto-slider:before {
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    width: 10000px;
    margin: 0 -5000px 0 0;
    z-index: -1;
    content: '';
}

@media (max-width: 768px){
 
.moto-slider:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0 -5000px 0 0;
    z-index: -1;
    content: '';
    left: 0px;
}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .moto-slider:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0 -5000px 0 0;
    z-index: -1;
    content: '';
    left: 0px;
}
}

#categories-3 .widget-title{
    text-align: center;
}
article.post .entry-content {
    margin: 0 0 20px 0;
}
h2 a {
    color: #87b1bd;
}
h2 a:hover {
    color: #000;
}
.cat-item a{
    color: black;
}
.cat-item a:hover{
    color: #dd3333;
}
.sidebar-main .widget_categories ul li, .sidebar-main .widget_archive ul li, .sidebar-main .widget_nav_menu ul li, .sidebar-main .widget_meta ul li, .sidebar-main .widget_meta ul li, .sidebar-main .widget_pages ul li, .sidebar-main .widget_recent_comments ul li, .sidebar-main .widget_recent_entries ul li, .sidebar-secondary .widget_categories ul li, .sidebar-secondary .widget_archive ul li, .sidebar-secondary .widget_nav_menu ul li, .sidebar-secondary .widget_meta ul li, .sidebar-secondary .widget_meta ul li, .sidebar-secondary .widget_pages ul li, .sidebar-secondary .widget_recent_comments ul li, .sidebar-secondary .widget_recent_entries ul li {
    position: relative;
    margin: 13px 0 0 0;
    padding: 0 0 0 27px;
    list-style: none;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}
.navigation a:hover, .navigation .current {
    background: #282e34;
    color: #87b1bd;
}
.navigation a, .navigation span {
    background: #87b1bd;
    color: #282e34;
}
.navigation a, .navigation span {
    display: inline-block;
    margin: 2px 3px 2px 0;
    padding: 5px 10px;
    vertical-align: top;
}
.navbar-nav>li.current-menu-item {
    background: #e5e6e6;
}
.content{
    padding-top: 35px;
    padding-bottom: 49px;
}
#breadcrumbs .item-parent a{
color: #fff;
}
#breadcrumbs .item-parent a:hover{
color: #87b1bd;
}
#static-area-footer-bottom{
    background: rgb(36, 42, 47);
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}
.blog_post{
    margin-top: 25px;
}
.blog_post-img img{
    max-width: 100%;
}
.prev-link{
    float: left;
}
.next-link{
    float: right;
}